body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background: #f7f7f7;
    display: grid;
    gap: 60px;
    justify-items: center;
    margin-top: 60px;

}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

p, h1, h2, h3{
    margin: 0px;
}

p{
    font-size: 1.25rem;
    line-height: 1.3;

}

.header{
    display: grid;
    justify-items: center;
    gap: 50px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.menu a{
    display: block;
    background: #ffffff;
    padding: 1rem 2rem;
    border-radius: 4px;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid transparent;
}
.menu a:hover{
    border-color: #e21;
}
.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}


.introducao{
    background: #fff;
    padding: 40px;
    text-align: right;
    position: relative;
    display: grid;
    align-content: center;
    gap: 20px;
    justify-items: end;
}
.introducao h2{
    font-size: 2rem;
}
.introducao::before{
    content: "";
   width: 60px;
   height: 4px;
   background: #e21;
   position: absolute;
   top: 30px;
   right: -30px;
   
}
.introducao-cover img{
    object-fit: cover;
    height: 100%;
}
.botao{
    background: #e21;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 4px;
    text-transform: uppercase;
}
.botao:hover{
    background: #900;
}
.subtitulo{
   font-size: 4rem;
   text-transform: uppercase;
   color:rgba(0, 0, 0, 0.2) ; 
   text-align: right;
   padding: 40px;
   align-self: center;
   background-image: url("../img/onda.svg");
}

.vantagens{
    background: #fff;
    padding: 40px;

}

.vantagens li:hover{
    border-left: 4px solid #e21;
}
.vantagens li:nth-child(odd){
    background: #f7f7f7;
}
li{
    padding: 4px;
}
.rodape{
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}

@media (max-width: 1000px){
    .conteudo-vantagens{
        grid-template-columns: 1fr;
    }
    .subtitulo{
        text-align: center;
        font-size: 3rem;
    }
}

@media (max-width: 600px){
    body{
        gap: 30px;
        margin-top: 20px;
    }
    .conteudo{
        grid-template-columns: 1fr;
    }
    .introducao{
        text-align: left;
        justify-items: start;
    }
    .introducao::before{
        display: none;
    }
    .subtitulo{
        font-size: 2.5rem;
    }
}
@media (max-width: 350px){
    .subtitulo{
        font-size: 1.5rem;
    }
}